:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  box-sizing: border-box;
  margin: 0;
  border: 1px solid red;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

article {
  padding: 0.5rem 1.5rem;
}

nav button,
form button {
  border-radius: 8px;
  border: 1px solid gray;
  padding: 0.6em 1.2em;
  margin: 0.5rem 0.3rem 0.1rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
nav button:hover,
form button:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}
li:hover > span {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-weight: bold;
}
nav button:focus,
nav button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.paginate > section {
  width: 100%;
  min-height: 180px;
}

.infinite section {
  border-bottom: 1px dotted blue;
}

li {
  font-size: 1.125rem;
  cursor: pointer;
}

li span {
  display: inline-block;
  padding: 0.05rem 0.5rem;
}

ul {
  padding: 0;
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  max-width: 50%;
}

form input {
  font-size: 1rem;
  padding: 0.3rem;
  width: 100%;
}

form button {
  margin: 0;
  margin-top: 1rem;
  /* width: 35%; */
  align-self: end;
}

form label {
  display: block;
  margin: 0.5rem 0 0.2rem;
}

footer button {
  all: unset;
  cursor: pointer;
  padding: 0.1rem 0.35rem;
  border: 1px solid gray;
  border-radius: 8px;
  color: black;
  margin-right: 0.5rem;
}

footer button:active {
  transform: scale(0.97);
}

footer button:disabled {
  color: gray;
  transform: scale(1);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    /* background-color: #f9f9f9; */
  }
}
